:root {
    --bg-body: #F8F9FA;
    --bg-box: #FFFFFF;
    --border-color: #121212;
    --text-main: #121212;
    --text-muted: #4C5560;
    --text-cmt: #222222;
    --text-code: #495057;
    --text-heading: #121212;
    --icon-color: #121212;
    --accent-color: #198754;
    --nav-bg: #121212;
    --nav-text: #F8F9FA;
    --nav-border: transparent;
}

[data-theme="terminal"] {
    --bg-body: #121212;
    --bg-box: #151915;
    --border-color: #258a3f;
    --text-main: #2fbd5a;
    --text-muted: #238245;
    --text-cmt: #1f9d4a;
    --text-code: #30b957;
    --text-heading: #35c965;
    --icon-color: #35c965;
    --accent-color: #5ddf82;
    --nav-bg: #121212;
    --nav-text: #35c965;
    --nav-border: #258a3f;
}
